[global_config]
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  title_transmit_bg_color = "#9a5b00"
  title_inactive_fg_color = "#ffffff"
  suppress_multiple_term_dialog = True
  title_inactive_bg_color = "#2f3132"
[keybindings]
  next_tab = <Shift><Alt>Right
  new_window = None
  prev_tab = <Shift><Alt>Left
  move_tab_right = None
  close_term = <Primary>w
  move_tab_left = None
  split_vert = <Primary><Shift>i
  new_tab = <Alt>t
[profiles]
  [[default]]
    palette = "#212121:#d21a17:#398e30:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#949494:#cb4b16:#0f8400:#eebe2c:#65a4ab:#6c71c4:#6cc1ba:#fdf6e3"
    background_image = None
    use_system_font = False
    foreground_color = "#efefef"
    font = Meslo LG S for Powerline 8
    background_color = "#212121"
    scrollback_infinite = True
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      size = 1250, 730
      type = Window
  [[monitoring]]
    [[[child0]]]
      order = 0
      parent = ""
      position = 184:104
      size = 1482, 835
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 418
      type = VPaned
    [[[child3]]]
      order = 1
      parent = child1
      position = 741
      type = HPaned
    [[[terminal2]]]
      command = htop || top
      order = 0
      parent = child1
      profile = default
      type = Terminal
    [[[terminal4]]]
      command = watch free -m
      order = 0
      parent = child3
      profile = default
      type = Terminal
    [[[terminal5]]]
      command = watch sensors
      order = 1
      parent = child3
      profile = default
      type = Terminal
[plugins]
